# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.psd
*.pptx
*.xlsx
build
dist
*.egg-info
*.pyc
easyFlyTracker/__pycache__/
tests/*.zip
tests/demo
tests/output