# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.psd
*.pptx
build
dist
*.egg-info
*.pyc
easyFlyTracker/__pycache__/
easyFlyTracker/__pycache__
tests/*.zip
tests/output2
tests/output*
tests/o2
zqj.py

utils